<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") %>

    <body>

        <!-- ***** Preloader Start ***** -->
        <%- include("partials/navbar") %>

            <!-- Page Content -->
            <div class="page-heading header-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Login</h1>
                            <span>Login to our website</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="callback-form contact-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <h2>Send us a <em>message</em></h2>
                                <span>Suspendisse a ante in neque iaculis lacinia</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="contact-form  ">
                                <form id="contact" action="/login" method="post">
                                    <div class="row " style=" display: flexbox; flex-direction: column; justify-content: center; align-items: center;">
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <fieldset>
                                                <input name="email" type="email" class="form-control"
                                                    placeholder="Full Name" required="">
                                            </fieldset>
                                        </div>
                                     
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <fieldset>
                                                <input name="password" type="text" class="form-control" id="password"
                                                    placeholder="password" required="">
                                            </fieldset>
                                        </div>
                                       
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <button type="submit"  class="filled-button">login</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Footer Starts Here -->

            <%- include("partials/footer") %>

                <%- include("partials/script") %>

    </body>

</html>